<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | escape }} | {{ site.title | escape }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    {{ site.stylesheet | default: site.theme_stylesheet | prepend: site.baseurl }}
    {{ site.head }}
  </head>
  <body>
    <header>
      <h1>{{ site.title }}</h1>
      <p>{{ site.description }}</p>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <p>&copy; {{ "now" | date: "%Y" }} {{ site.title }}</p>
    </footer>
  </body>
</html>
